/*
.button.primary {
    -fx-background-color: #424874;
    -fx-text-fill: #ffffff;
    -fx-border-width: 0em;
    -fx-padding: 0.8em 1.5em;
}

.footer {
    -fx-background-color: #eee;
}*/
